[submodule "config/nvim/pack/vim-benferse/opt/nord-vim"]
	path = config/nvim/pack/vim-benferse/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "config/nvim/pack/vim-benferse/opt/vim-airline"]
	path = config/nvim/pack/vim-benferse/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "config/nvim/pack/vim-benferse/opt/vim-better-whitespace"]
	path = config/nvim/pack/vim-benferse/start/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "config/nvim/pack/vim-benferse/opt/vim-commentary"]
	path = config/nvim/pack/vim-benferse/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/nvim/pack/vim-benferse/opt/vim-devicons"]
	path = config/nvim/pack/vim-benferse/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "config/nvim/pack/vim-benferse/opt/plenary.nvim"]
	path = config/nvim/pack/vim-benferse/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "config/nvim/pack/vim-benferse/opt/vim-sneak"]
	path = config/nvim/pack/vim-benferse/start/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "config/nvim/pack/vim-benferse/opt/vim-startify"]
	path = config/nvim/pack/vim-benferse/opt/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "config/nvim/pack/vim-benferse/opt/vim-surround"]
	path = config/nvim/pack/vim-benferse/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/nvim/pack/vim-benferse/opt/vim-tmux-navigator"]
	path = config/nvim/pack/vim-benferse/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "config/nvim/pack/vim-benferse/opt/telescope.nvim"]
	path = config/nvim/pack/vim-benferse/opt/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "config/nvim/pack/vim-benferse/opt/vim-unimpaired"]
	path = config/nvim/pack/vim-benferse/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "config/nvim/pack/vim-benferse/opt/vimux"]
	path = config/nvim/pack/vim-benferse/opt/vimux
	url = https://github.com/benmills/vimux
[submodule "config/nvim/pack/vim-benferse/opt/vimux-cargo"]
	path = config/nvim/pack/vim-benferse/opt/vimux-cargo
	url = https://github.com/jtdowney/vimux-cargo
[submodule "config/nvim/pack/vim-benferse/opt/gitsigns.nvim"]
	path = config/nvim/pack/vim-benferse/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "config/nvim/pack/vim-benferse/opt/nvim-lspconfig"]
	path = config/nvim/pack/vim-benferse/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "config/nvim/pack/vim-benferse/opt/nvim-compe"]
	path = config/nvim/pack/vim-benferse/opt/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe
[submodule "config/nvim/pack/vim-benferse/opt/nvim-autopairs"]
	path = config/nvim/pack/vim-benferse/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "config/nvim/pack/vim-benferse/opt/rust-tools.nvim"]
	path = config/nvim/pack/vim-benferse/opt/rust-tools.nvim
	url = https://github.com/simrat39/rust-tools.nvim
[submodule "config/nvim/pack/vim-benferse/opt/lsp-status.nvim"]
	path = config/nvim/pack/vim-benferse/opt/lsp-status.nvim
	url = https://github.com/nvim-lua/lsp-status.nvim
