[submodule "config/nvim/pack/vim-benferse/opt/nord-vim"]
	path = config/nvim/pack/vim-benferse/opt/nord-vim
	url = https://github.com/arcticicestudio/nord-vim
[submodule "config/nvim/pack/vim-benferse/opt/vim-sneak"]
	path = config/nvim/pack/vim-benferse/opt/vim-sneak
	url = https://github.com/justinmk/vim-sneak
[submodule "config/nvim/pack/vim-benferse/opt/vim-textobj-user"]
	path = config/nvim/pack/vim-benferse/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "config/nvim/pack/vim-benferse/opt/vim-signify"]
	path = config/nvim/pack/vim-benferse/opt/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "config/nvim/pack/vim-benferse/opt/vim-startify"]
	path = config/nvim/pack/vim-benferse/opt/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "config/nvim/pack/vim-benferse/opt/vim-commentary"]
	path = config/nvim/pack/vim-benferse/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "config/nvim/pack/vim-benferse/opt/vim-fugitive"]
	path = config/nvim/pack/vim-benferse/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "config/nvim/pack/vim-benferse/opt/vim-surround"]
	path = config/nvim/pack/vim-benferse/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "config/nvim/pack/vim-benferse/opt/vim-unimpaired"]
	path = config/nvim/pack/vim-benferse/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "config/nvim/pack/vim-benferse/opt/vim-airline"]
	path = config/nvim/pack/vim-benferse/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "config/nvim/pack/vim-benferse/opt/vim-devicons"]
	path = config/nvim/pack/vim-benferse/opt/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "config/nvim/pack/vim-benferse/opt/fzf"]
	path = config/nvim/pack/vim-benferse/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "config/nvim/pack/vim-benferse/opt/fzf.vim"]
	path = config/nvim/pack/vim-benferse/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "config/nvim/pack/vim-benferse/opt/vim-ps1"]
	path = config/nvim/pack/vim-benferse/opt/vim-ps1
	url = https://github.com/pprovost/vim-ps1
[submodule "config/nvim/pack/vim-benferse/opt/vim-textobj-entire"]
	path = config/nvim/pack/vim-benferse/opt/vim-textobj-entire
	url = https://github.com/benferse/vim-textobj-entire
[submodule "config/nvim/pack/vim-benferse/opt/vim-tmux-navigator"]
	path = config/nvim/pack/vim-benferse/opt/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule "config/nvim/pack/vim-benferse/opt/vimux"]
	path = config/nvim/pack/vim-benferse/opt/vimux
	url = https://github.com/benmills/vimux
[submodule "config/nvim/pack/vim-benferse/opt/vimux-cargo"]
	path = config/nvim/pack/vim-benferse/opt/vimux-cargo
	url = https://github.com/jtdowney/vimux-cargo
[submodule "config/nvim/pack/vim-benferse/opt/vim-beancount"]
	path = config/nvim/pack/vim-benferse/opt/vim-beancount
	url = https://github.com/nathangrigg/vim-beancount
[submodule "config/nvim/pack/vim-benferse/opt/vim-better-whitespace"]
	path = config/nvim/pack/vim-benferse/opt/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "config/nvim/pack/vim-benferse/opt/vimspector"]
	path = config/nvim/pack/vim-benferse/opt/vimspector
	url = https://github.com/puremourning/vimspector
