[alias]
    tree = log --color --graph --pretty=format:'%Cred%h%Creset (%G?) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[diff]
    tool = bc3

[difftool]
    prompt = false

[merge]
    tool = bc3

[mergetool]
    prompt = false

[user]
{{- if eq .chezmoi.hostname "eurydice" }}
    email = benferse@microsoft.com
{{- else }}
    email = ben@bu.edu
{{- end }}
    name = Ben Fersenheim

[init]
    defaultBranch = main

[pull]
    rebase = true

[core]
    editor = nvr --remote-wait-silent
{{ if eq .chezmoi.os "windows" }}
    sshcommand = plink -agent

[credential]
    helper = manager

[gpg]
    program = "c:\\Program Files (x86)\\GnuPG\\bin\\gpg.exe"
{{ end }}
