priority -50

snippet t "Transaction" b
${1:`!v strftime("%Y")`}-${2:`!v strftime("%m")`}-${3:`!v strftime("%d")`} * "${4:Payee}"
	${5:Expenses}              ${6:0.00} USD
	${7:Assets:Checking}$0
endsnippet

snippet d "Directive" b
${1:`!v strftime("%Y")`}-${2:`!v strftime("%m")`}-${3:`!v strftime("%d")`} $0
endsnippet
