[alias]
    tree = log --color --graph --pretty=format:'%Cred%h%Creset (%G?) -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[credential]
    helper = manager

[diff]
    tool = bc3

[difftool]
    prompt = false

[merge]
    tool = bc3

[mergetool]
    prompt = false

[url "https://github.com/"]
    insteadOf = gh:

[url "https://gist.github.com/"]
    insteadOf = gist:

[user]
    email = ben@bu.edu
    name = Ben Fersenheim
